

<p> User Management <br>
1. Enable/Disable Guest Access

2. User Role Management (Admin, Staff, Viewer)

3. Registration Settings (Approval Required, Auto-approve, etc.)

4. Email Verification Toggle </p>


 <div
              class="userdata-table-wrapper mt-2 d-none d-sm-none d-md-block"
            >
              <div class="row g-0 position-relative">
                <div class="col-12">
                  <div class="table-responsive datatable-contaner table-scroll">
                    <table
                      class="table table-striped table-hover align-middle table-fixed no-wrap"
                    >
                      <thead class="table_heading sticky-top">
                        <tr>
                        
                          <th
                            *ngFor="
                              let list of display_unshipped_columns;
                              let index = index
                            "
                            
                            [ngClass]="{
                              activeTab:
                                !display_unshipped_columns[index].active
                            }"
                          >
                            {{ list?.displayName }}
                          </th>
                        </tr>
                      </thead>
                       <tbody>
 <tr
                            *ngFor="
                              let data of userList?.userData;
                              let i = index
                            "
                          >
                        
                            <td
                              class="name"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[0].active
                              }"
                            >
                             <p>{{data?.name}}</p>
                            </td>
                            <td
                              class="addrss"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[1].active
                              }"
                            >
                             <p>{{data?.address}}</p>
                            </td>
                            <td
                              class="name"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[2].active
                              }"
                            >
                             <p>{{data?.status}}</p>
                            </td>
                            <td
                              class="activity"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[3].active
                              }"
                            >
                             <p>{{data?.currentStatus}}</p>
                            </td>

                       </tbody>
                      </table>
                      </div>
                      </div>
                    </div>
                </div>
  <!-- Pagination -->
          <div class="row g-0" *ngIf="userList?.userData?.length !=0">
            <div class="col-md-12">
              <mat-paginator
                [length]="userList.totalRecord"
                [pageIndex]="1"
                [pageSize]="10"
                [pageSizeOptions]="[10, 25, 100]"
                (page)="onPageChange($event)"
              >
              </mat-paginator>
            </div>
          </div>










