

<p> User Management <br>
1. Enable/Disable Guest Access

2. User Role Management (Admin, Staff, Viewer)

3. Registration Settings (Approval Required, Auto-approve, etc.)

4. Email Verification Toggle </p>

 <div class="orders_wrapper d-none d-sm-none d-md-block">
      <div class="row g-0">
        <div class="col-md-auto col-sm-12 com-xs-12">
          <div class="navbar-container">
            <ul
              ngbNav
              #nav="ngbNav"
              [activeId]="active"
              class="nav-tabs d-lg-flex"
            >
              <!-- <li [ngbNavItem]="tab.path" *ngFor="let tab of tabs"> -->
              <li [ngbNavItem]="tab.path" *ngFor="let tab of tabs">
                <a
                  ngbNavLink
                  class="bg-wrapper-blue nav-link"
                  (click)="changeTab(tab)"
                >
                  {{ tab.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>

        </div>
</div>




 <div
              class="userdata-table-wrapper mt-2 d-none d-sm-none d-md-block"
            >
              <div class="row g-0 position-relative">
                <div class="col-12">
                  <div class="table-responsive datatable-contaner table-scroll">
                    <table
                      class="table table-striped table-hover align-middle table-fixed no-wrap"
                    >
                      <thead class="table_heading sticky-top">
                        <tr>
                          @for (list of display_unshipped_columns; track $index; let index= $index) {

                                <th [ngClass]="{ activeTab:!display_unshipped_columns[index].active, 'text-center':$last}" >
                                  {{ list?.displayName }}
                          </th>
                          }
                        
                      
                        </tr>
                      </thead>
                       <tbody>

                        @for (data of userList.userData; track $index; let i = $index) {


                       
                            <tr>
                        
                            <td
                              class="name"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[0].active
                              }"
                            >
                             <p>{{data?.name}}</p>
                            </td>
                            <td
                              class="addrss"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[1].active
                              }"
                            >
                             <p>{{data?.address}}</p>
                            </td>
                            <td
                              class="name"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[2].active
                              }"
                            >
                                    <span class="badge"
                                            [ngClass]="{'text-bg-success':data?.status ,'text-bg-danger': !data?.status  }">
                                            {{ data?.status ? 'Active' : 'Inactive' }}</span>
                            </td>
                            <td
                              class="activity"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[3].active
                              }"
                            >
                               <p>{{data?.currentStatus}}</p>
                            </td>
                            <td
                              class="action text-center"
                              [ngClass]="{
                                activeTab: !display_unshipped_columns[4].active
                              }"
                            >
                              <button type="button" (click)="openConfirmation(data, i)" class="btn btn-light rounded-circle"><i
                                                class="fa-solid fa-ellipsis-vertical"></i></button>
                            </td>
                          }
                       </tbody>
                      </table>
                      </div>
                      </div>
                    </div>
                </div>
  <!-- Pagination -->
          <div class="row g-0" *ngIf="userList?.userData?.length !=0">
            <div class="col-md-12">
              <mat-paginator
                [length]="userList.totalRecord"
                [pageIndex]="1"
                [pageSize]="10"
                [pageSizeOptions]="[10, 25, 100]"
                (page)="onPageChange($event)"
              >
              </mat-paginator>
            </div>
          </div>










