<div class="container">
<div class="row">
  <div class="col-md-4">
      <canvas baseChart
          [data]="revenueChartData"
          [type]="'line'"
          [options]="{ responsive: true }">
  </canvas>
  </div>
  <div class="col-md-4">
      <canvas baseChart
          [data]="pieChartData"
          [type]="'pie'">
  </canvas>
  </div>
  <div class="col-md-4">
     <canvas baseChart
          [data]="doughnutChartData"
          [type]="'doughnut'">
  </canvas>
  </div>
</div>
<div>

</div>

<div>
<p>A</p>
<p>b</p>
<p>c</p>
<p>d</p>
<p>e</p>
<p>e\f</p>
<p>eg</p>
<p>eh</p>
<p>ehi</p>
</div>

<div>
 
</div>


</div>