
<div class="container">
    <form [formGroup]="roomConfigForm"> 
         
        <div class="row mb-3">
            <!-- Room Name  -->
            <div class="col-md-4">
                <label>Room Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="roomName" [ngClass]="{'is-invalid': roomConfigForm?.get('roomName')?.invalid && (roomConfigForm?.get('roomName')?.touched || roomConfigForm?.get('roomName')?.dirty )} " />
                @if (roomConfigForm?.get('roomName')?.invalid && roomConfigForm?.get('roomName')?.touched ) {
                <div class="text-danger"> Required </div>
                }
            </div>

            <!-- total seat  -->
            <div class="col-md-4">
                <label>Total Seats <span class="text-danger">*</span></label>
                <input formControlName="totalSeats" type="text" class="form-control" [ngClass]="{'is-invalid':roomConfigForm?.get('totalSeats')?.invalid && (roomConfigForm?.get('totalSeats')?.touched || roomConfigForm?.get('totalSeats')?.dirty)  }" />
                @if (roomConfigForm?.get('totalSeats')?.invalid && roomConfigForm?.get('totalSeats')?.touched ) {
                <div class="text-danger"> Required </div>
                }
            </div>
            <!-- room type  -->
            <div class="col-md-4">
                <label>Room Type <span class="text-danger">*</span></label>
                <select class="form-select" formControlName="roomType" [ngClass]="{'is-invalid':roomConfigForm?.get('roomType')?.invalid && (roomConfigForm?.get('roomType')?.touched || roomConfigForm?.get('roomType')?.dirty)  }">
                    <option value="Study Hall">Study Hall</option>
                    <option value="Premium">Premium</option>
                    <option value="Silent Zone">Silent Zone</option>
                </select>
                @if (roomConfigForm?.get('roomType')?.invalid && roomConfigForm?.get('roomType')?.touched) {
                <div class="text-danger"> Required </div>
                }

            </div>
          <div class="col-md-3">

              <button type="button" class="btn btn-primary" (click)="saveRoom()">Save Room</button>
          </div>  
<div class="col-md-3">
                <button type="button" class="btn btn-success" (click)="addSeat()">+ Add Seat</button>
</div>

        </div>
        <div formArrayName="seatLayout">
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let seat of seatLayout?.controls; let i = index" [formGroupName]="i">
                    <label>Seat No {{i+1}}</label>

                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1 me-2">
                            <input type="text" class="form-control" placeholder="Seat Name" formControlName="seatNo" 
                            [ngClass]="{'is-invalid': seat?.get('seatNo')?.invalid &&  (seat?.get('seatNo')?.touched || seat?.get('seatNo')?.dirty) }"
                             />
                            @if(seat?.get('seatNo')?.invalid && seat?.get('seatNo')?.touched){
                            <span class="text-danger small">Required</span>
                            }
                        </div>

                        <div>
                            <button type="button" class="btn btn-danger" (click)="removeSeat(i)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <!-- <button type="button" class="btn btn-success" (click)="addSeat()">+ Add Seat</button> -->
            <!-- <button type="button" class="btn btn-primary" (click)="saveRoom()">Save Room</button> -->
            <button type="button" class="btn btn-primary" (click)="saveSeats()">Save Seat</button>
        </div>
    </form>
</div>